
.handjet-<uniquifier> {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}

* {
    font-family: "Handjet", sans-serif;
    font-size:large;
}

img {
    height:350px;
    margin:10px;
    
}

#slike {
    display: flex;
    background-color: black;
}

nav {
    background-color: black;
    font-size: 34px;
    padding:0.5%;
}
a {
    text-decoration:none;
    color:white;
    font-size: 46px;
}

p {
    background-color:black;
    background-blend-mode: darken;
    color:white;
}
h2 {
    font-size:200%;
    background-color:white;
}

h1 {
    font-size:260%;
    background-color: white;
}
li {
    background-color: black;
    color:white;
}
blockquote {
    color:yellow;
    background-color: black;
}
body{
    background-image: url(imgs_vids/smpte.png)
}